.section1-container {
  min-height: 400px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background: url('../../assets/img/bg-ellipse.png') no-repeat;
  position: relative;
  background-position: center top;
  top: 100px;
  margin-bottom: 100px;
  padding-bottom: 100px;
}

.section1-content-container {
  width: 100%;
  text-align: center;
}

.section1-content-h1 {
  color: #d8db36;
  font-weight: 700;
}
.section1-content-h1 span {
  color: #0e874c;
}
.section1-content-h2 {
  font-weight: 700;
  color: #999998;
  margin-bottom: 50px;
}

.section1-primary-button {
  padding: 8px 70px;
}

.design-section1 {
  position: relative;
  height: 186px;
  width: 100%;
  background-image: url('../../assets/img/bg-design.jpg');
  z-index: 100;
  clear: both;
}

.design-img1 {
  background-repeat: repeat-x;
}

.color-primary {
  color: #0e874c;
}

.main-title {
  font-weight: 700;
  color: #d8db36;
  font-size: 36px;
}
.sub-title {
  font-weight: 700;
  color: #0e874c;
  font-size: 36px;
}

.buttom-margin {
  margin-bottom: 40px;
}
.section-paragraph {
  color: #999998;
}

.section3-container {
  text-align: center;
  padding: 80px 20px;
}
.section-3-donation-img {
  height: 400px;
}
.section3-container {
  background-color: #f9f9f9;
}

.section4-container {
  text-align: center;
  padding: 80px 20px;
}
.section-4-donation-img {
  height: 400px;
  margin-bottom: 40px;
}
.section4-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

/* RE-ORDER ON SMALLER DEVICES */
.section4-container :nth-child(1) {
  order: 2;
}
.section4-container :nth-child(2) {
  order: 1;
}

.design-section4 {
  position: relative;
  height: 36px;
  width: 100%;
  background-image: url('../../assets/img/bg-design-small.jpg');
  z-index: 100;
  clear: both;
}
.newsletter-section {
  background-color: #109756;
}
.newsletter-content-container {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.footer-logo-container {
  margin-bottom: 20px;
}
.footer-logo {
  height: 70px;
}

.newsletter-input {
  padding: 15px 30px;
  width: 300px;
  border: 1px solid green;
  border-radius: 4px;
  margin-bottom: 20px;
}
.newsletter-button {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
  padding: 10px 50px;
  border-radius: 4px;
}
.newsletter-button:hover {
  color: #0e874c;
  border: 2px solid #0e874c;
  background-color: #ffffff;
  padding: 10px 50px;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

/* RESPONSIVENESS -  FOR TABLET DEVICES */
@media (min-width: 641px) {
  /* TABLET */
  .section1-content-container {
    width: 470px;
    text-align: center;
  }

  /* SECTION 3 */
  .section-3-donation-img {
    height: 500px;
  }

  .section3-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 700px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .section3-container-left {
    width: 50%;
    flex-grow: 1;
  }
  .section3-container-right {
    width: 50%;
    flex-grow: 1;
    text-align: justify;
    padding-right: 40px;
  }

  /* SECTION 4 */
  .section-4-donation-img {
    height: 500px;
  }
  .section4-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 700px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  /* RE-ORDER FLEX ITEMS ON LARGER DEVICES */
  .section4-container :nth-child(1) {
    order: 1 !important;
  }
  .section4-container :nth-child(2) {
    order: 2 !important;
  }

  .section4-container-left {
    width: 50%;
    flex-grow: 1;
    text-align: justify;
    padding: 0px 50px;
  }
  .section4-container-right {
    width: 50%;
    flex-grow: 1;
  }

  .newsletter-content-container {
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }
  .footer-logo-container {
    margin-right: 30px;
  }
  .newsletter-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .newsletter-input {
    padding: 15px 30px;
    width: 450px;
    border: 1px solid green;
    border-radius: 4px;
    margin-bottom: 0px;
    margin-right: 30px;
  }
}
