/* SIDEBAR MAIN CONTAINER */
.sidebar-container {
  width: 290px;
}
.sidebar-logo-container {
  background-color: #0e874c;
  padding: 20px;
}
.sidebar-logo-img {
  max-height: 60px;
}

.sidebar-menu-item-container {
  padding: 30px;
  border: 2px solid #0e874c;
  height: calc(100vh);
}
.sidebar-ul {
  padding: 0px;
}
.sidebar-menu-item {
  padding: 20px 30px;
  color: #979797;
  list-style: none;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.sidebar-active {
  color: #fff;
  background-color: #0e874c;
  transition: 0.3s ease-in-out;
}
.sidebar-menu-item:hover {
  color: #fff !important;
  background-color: #0e874c;
  transition: 0.3s ease-in-out;
}
.sidebar-menu-item a {
  color: #979797;
  text-decoration: none;
}
.sidebar-menu-item a:hover {
  color: white;
  text-decoration: none;
}
.sidebar-active > a:hover {
  color: #fff;
}
.sidebar-active > a {
  color: #fff;
}

/* RESPONSIVE - TABLET - PC  */
@media (min-width: 641px) {
  .sidebar-container {
    width: 330px;
  }
}
