.design-section4 {
  position: relative;
  height: 36px;
  width: 100%;
  background-image: url('../../assets/img/bg-design-small.jpg');
  z-index: 100;
  clear: both;
}
.newsletter-section {
  background-color: #109756;
}
.newsletter-content-container {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.footer-logo-container {
  margin-bottom: 20px;
}
.footer-logo {
  height: 70px;
}

.newsletter-input {
  padding: 15px 30px;
  width: 300px;
  border: 1px solid green;
  border-radius: 4px;
  margin-bottom: 20px;
}
.newsletter-button {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
  padding: 10px 50px;
  border-radius: 4px;
}
.newsletter-button:hover {
  color: #0e874c;
  border: 2px solid #0e874c;
  background-color: #ffffff;
  padding: 10px 50px;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}
/* SUB-FOOTER */
.sub-footer-section {
  background-color: #0e874c;
}
.sub-footer-content-container {
  padding: 50px 20px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sub-footer-menu-container > h1 {
  color: #eef169;
  font-weight: 700;
  font-size: 16px;
}
.sub-footer-menu-container > ul {
  list-style: none;
  padding: 0px;
  margin-bottom: 30px;
}

.sub-footer-menu-container > ul > li {
  margin-bottom: 11px;
}
.sub-footer-menu-container > ul > li a {
  color: #fff;
  text-decoration: none;
}
.sub-footer-menu-container > ul > li a:hover {
  /* color: #eef169; */
  text-decoration: underline;
}

/* FOOTER */
.footer {
  background-color: #097742;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* RESPONSIVENESS -  FOR TABLET DEVICES */
@media (min-width: 641px) {
  .newsletter-content-container {
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }
  .footer-logo-container {
    margin-right: 30px;
  }
  .newsletter-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .newsletter-input {
    padding: 15px 30px;
    width: 450px;
    border: 1px solid green;
    border-radius: 4px;
    margin-bottom: 0px;
    margin-right: 30px;
  }

  .sub-footer-content-container {
    padding: 50px 20px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .sub-footer-menu-container {
    margin: 0px 50px;
  }
}
